.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

html, body {
    background: #f7f7f7;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.btn-holder {
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
    margin-right: 75px;
}

img {
    width: 125px; /* you can use % */
    height: auto;
}

p {
    margin: 0;
}